.Rproj.user
.Rhistory
.RData
.Ruserdata

# file formats
*.html
*.xml
*.transcript
*.taz
*.zip
*.eaf
*.csv
*.tar
*.bz2
*.Rproj
*.dtd
*.sql
*.gz
*.json

# particular folders
deu/GermaParlTEI-master/*
deu/MdB-Stammdaten-data/*
fin/Eduskunta/*



*.txt
*.xls
*.doc
*.xlsx
*.lnk
*.ods
*.docx
*.rdf
*.vw
*.udpipe
*.model
*.cache
*.png
